{% extends "base.html" %}

{% block content %}

<div class="card shadow">
    <div class="card-header bg-warning">
        <h4>Edit Student</h4>
    </div>

    <div class="card-body">
        <form method="POST">

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>First Name</label>
                    <input type="text" name="first_name" class="form-control"
                           value="{{ student.first_name }}" required>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Last Name</label>
                    <input type="text" name="last_name" class="form-control"
                           value="{{ student.last_name }}" required>
                </div>
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control"
                       value="{{ student.email }}" required>
            </div>

            <div class="mb-3">
                <label>Phone</label>
                <input type="text" name="phone" class="form-control"
                       value="{{ student.phone }}">
            </div>

            <div class="mb-3">
                <label>Course</label>
                <input type="text" name="course" class="form-control"
                       value="{{ student.course }}">
            </div>

            <div class="mb-3">
                <label>Address</label>
                <textarea name="address" class="form-control">{{ student.address }}</textarea>
            </div>

            <button class="btn btn-warning">Update Student</button>
            <a href="/students" class="btn btn-secondary">Cancel</a>

        </form>
    </div>
</div>

{% endblock %}